{% extends "order/base.html" %}

{% block content %}
<div class="container text-center mt-5">
  <h1 class="mb-4">Welcome to Pizza Hot!</h1>
  <p class="lead mb-5">The best place to order your favorite pizzas online.</p>
  
  {% if user.is_authenticated %}
    <p class="mb-4">Hello, {{ user.username }}! Ready to order some pizza?</p>
    <a href="{% url 'order' %}" class="btn btn-primary btn-lg">Order Now</a>
    <br>
    <a href="{% url 'logout' %}" class="btn btn-secondary btn-lg mt-3">Logout</a>
  {% else %}
    <p class="mb-4">Please sign in to place your order.</p>
    <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login</a>
    <a href="{% url 'signup' %}" class="btn btn-success btn-lg">Signup</a>
  {% endif %}
</div>
{% endblock content %}
